Package: com.ginsu.powerwidget
Name: PowerWidget
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ginsu
Author: Ginsu
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
